@model BusinessLibrary.UserManagement.User

@{
    ViewBag.Title = "userDetai";
    Layout = "~/Areas/AdminSide/Views/Shared/_AdminLayOut.cshtml";
}
<div class="row" style="margin-top:30px;">
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-7">
                <img src="@Url.Content(Model.ImgURL)" class="img-responsive img-thumbnail" style="width:100%; height:430px" />
            </div>
            <div class="col-lg-5">
                <h3 class="text-center text-info">@Model.FullName</h3>
                <table class="table table-responsive table-hover">

                    <tr>
                        <th>Email Id</th>
                        <td> @Html.DisplayFor(model => model.EmailID)</td>
                    </tr>
                    <tr>
                        <th>Login Id</th>
                        <td> @Html.DisplayFor(model => model.LoginId)</td>
                    </tr>
                    <tr>
                        <th>Password</th>
                        <td> @Html.DisplayFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <th>Contact No</th>
                        <td> @Html.DisplayFor(model => model.ContactNo)</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td> @Html.DisplayFor(model => model.Address)</td>
                    </tr>
                    <tr>
                        <th>Date of birht</th>
                        <td> @Html.DisplayFor(model => model.DOB)</td>
                    </tr>
                    <tr>
                        <th>Security Question</th>
                        <td> @Html.DisplayFor(model => model.SecurityQuestion)</td>
                    </tr>
                    <tr>
                        <th>Answer</th>
                        <td> @Html.DisplayFor(model => model.SecurityAns)</td>
                    </tr>
                </table>
                    @*@Html.DisplayFor(model => model.VerificationCode)*@
            </div>
        </div>
    </div>
</div>

